In [1]:
from tabula import read_pdf
import tabula
import tabulate
import camelot

In [10]:
pdfData = read_pdf('table.pdf')
pdfData

'pages' argument isn't specified.Will extract only from page 1 by default.

[]

In [24]:
pdfData = read_pdf('table.pdf', pages=4)
print(pdfData)

[                                           Unnamed: 0  \
0                                                 NaN
1                                                 NaN
2                                              Income
3                 Value of Sales & Services (Revenue)
4                                 Less: GST Recovered
5                             Revenue from Operations
6                                        Other Income
7                                                 NaN
8                                            Expenses
9                          Cost of Materials Consumed
10                        Purchases of Stock-in-Trade
11  Changes in Inventories of Finished Goods,Work-in-
12                        Progress and Stock-in-Trade
13                                        Excise Duty
14                          Employee Benefits Expense
15                                      Finance Costs
16  Depreciation / Amortisation and Depletion Expense
17                                     Other Expenses
18                                                NaN
19  Profit Before Share of Profit/(Loss) of Associ...
20                         and Joint Ventures and Tax
21     Share of Profit/(Loss) of Associates and Joint
22                                           Ventures
23                                  Profit Before Tax
24                                        Tax Expense
25                                        Current Tax
26                                       Deferred Tax
27                              Profit for the Period
28                   Other Comprehensive Income (OCI)
29  i Items that will not be reclassified to Profi...
30                                               Loss
31                                          ii Income
32                     reclassified to Profit or Loss
33  iii Items that will be reclassified to Profit ...
34                                          iv Income
35                     reclassified to Profit or Loss
36      Total Other Comprehensive Income (Net of Tax)
37          Total Comprehensive Income for the Period
38                       Net Profit attributable to :
39                           a) Owners of the Company
40                        b) Non-Controlling Interest
41       Other Comprehensive Income attributable to :
42                           a) Owners of the Company
43                        b) Non-Controlling Interest
44       Total Comprehensive Income attributable to :
45                           a) Owners of the Company
46                        b) Non-Controlling Interest
47   Earnings per equity share (Face Value of ` 10/-)
48                                   (Not Annualised)
49                                   (a) Basic (in `)

                                Unnamed: 1  Unnamed: 2 Unnamed: 3  \
0                              Particulars         NaN        NaN
1                                      NaN         NaN  30 Sep’19
2                                      NaN         NaN        NaN
3                                      NaN         NaN    163,854
4                                      NaN         NaN     11,705
5                                      NaN         NaN    152,149
6                                      NaN         NaN      3,614
7                             Total Income         NaN    155,763
8                                      NaN         NaN        NaN
9                                      NaN         NaN     63,626
10                                     NaN         NaN     35,735
11                                     NaN         NaN        873
12                                     NaN         NaN        NaN
13                                     NaN         NaN      3,623
14                                     NaN         NaN      3,147
15                                     NaN         NaN      5,450
16                                     NaN         NaN      5,315
17                                     NaN         NaN     22,993
18                          Total Expenses         NaN    140,762
19                                     NaN         NaN     15,001
20                                     NaN         NaN        NaN
21                                     NaN         NaN         54
22                                     NaN         NaN        NaN
23                                     NaN         NaN     15,055
24                                     NaN         NaN        NaN
25                                     NaN         NaN      2,065
26                                     NaN         NaN      1,638
27                                     NaN         NaN     11,352
28                                     NaN         NaN        NaN
29                                     NaN         NaN       (37)
30                                     NaN         NaN        NaN
31  tax relating to items that will not be         NaN         24
32                                     NaN         NaN        NaN
33                                     NaN         NaN      (949)
34      tax relating to items that will be         NaN        176
35                                     NaN         NaN        NaN
36                                     NaN         NaN      (786)
37                                     NaN         NaN     10,566
38                                     NaN         NaN        NaN
39                                     NaN         NaN     11,262
40                                     NaN         NaN         90
41                                     NaN         NaN        NaN
42                                     NaN         NaN      (787)
43                                     NaN         NaN          1
44                                     NaN         NaN        NaN
45                                     NaN         NaN     10,475
46                                     NaN         NaN         91
47                                     NaN         NaN        NaN
48                                     NaN         NaN        NaN
49                                     NaN         NaN      18.59

     Year EndedQuarter Ended Half Year Ended  Unnamed: 4
0                                        NaN   (Audited)
1   30 June 19 30 Sep’18 30 Sep’19 30 Sep’18   31 Mar'19
2                                        NaN         NaN
3            172,956 156,291 336,810 297,990     622,809
4                11,607 10,273 23,312 18,903      41,789
5            161,349 146,018 313,498 279,087     581,020
6                   3,146 1,250  6,760 3,028       8,635
7            164,495 147,268 320,258 282,115     589,655
8                                        NaN         NaN
9              70,939 76,686 134,565 144,941     275,237
10               43,659 29,369 79,394 55,925     123,930
11          (4,642) (5,576) (3,769) (10,386)     (4,680)
12                                       NaN         NaN
13                   4,373 2,695 7,996 7,008      13,885
14                   3,335 2,927 6,482 5,878      12,488
15                  5,109 3,932 10,559 7,482      16,495
16                 5,011 5,229 10,326 10,402      20,934
17               22,370 18,809 45,363 33,952      76,242
18           150,154 134,071 290,916 255,202     534,531
19               14,341 13,197 29,342 26,913      55,124
20                                       NaN         NaN
21                                   25 1 79      11 103
22                                       NaN         NaN
23               14,366 13,198 29,421 26,924      55,227
24                                       NaN         NaN
25                   3,193 2,917 5,258 5,924      11,683
26                     1,032 732 2,670 1,966       3,707
27               10,141 9,549  21,493 19,034      39,837
28                                       NaN         NaN
29                   (508) (220) (545) (146)      77,470
30                                       NaN         NaN
31                                103 16 127  2 (16,705)
32                                       NaN         NaN
33                 339 (2,211) (610) (4,268)     (2,177)
34                              (15) 322 161     728 177
35                                       NaN         NaN
36                (81) (2,093) (867) (3,684)      58,765
37                10,060 7,456 20,626 15,350      98,602
38                                       NaN         NaN
39               10,104 9,516  21,366 18,975      39,588
40                                37 33  127      59 249
41                                       NaN         NaN
42                (76) (2,092) (863) (3,684)      58,773
43                              (5) (1)  (4)       - (8)
44                                       NaN         NaN
45                10,028 7,424 20,503 15,291      98,361
46                                32 32  123      59 241
47                                       NaN         NaN
48                                       NaN         NaN
49                  17.05 16.06  35.27 32.03       66.82  ]

In [23]:
pdfData = read_pdf('table.pdf', pages='all')
pdfData

[Empty DataFrame
 Columns: [of quality products and services at compelling value and reaching, •, Ranked fastest network by TRAIs MySpeed Analytics App]
 Index: [],
                                            Unnamed: 0  \
 0                                                 NaN
 1                                                 NaN
 2                                              Income
 3                 Value of Sales & Services (Revenue)
 4                                 Less: GST Recovered
 5                             Revenue from Operations
 6                                        Other Income
 7                                                 NaN
 8                                            Expenses
 9                          Cost of Materials Consumed
 10                        Purchases of Stock-in-Trade
 11  Changes in Inventories of Finished Goods,Work-in-
 12                        Progress and Stock-in-Trade
 13                                        Excise Duty
 14                          Employee Benefits Expense
 15                                      Finance Costs
 16  Depreciation / Amortisation and Depletion Expense
 17                                     Other Expenses
 18                                                NaN
 19  Profit Before Share of Profit/(Loss) of Associ...
 20                         and Joint Ventures and Tax
 21     Share of Profit/(Loss) of Associates and Joint
 22                                           Ventures
 23                                  Profit Before Tax
 24                                        Tax Expense
 25                                        Current Tax
 26                                       Deferred Tax
 27                              Profit for the Period
 28                   Other Comprehensive Income (OCI)
 29  i Items that will not be reclassified to Profi...
 30                                               Loss
 31                                          ii Income
 32                     reclassified to Profit or Loss
 33  iii Items that will be reclassified to Profit ...
 34                                          iv Income
 35                     reclassified to Profit or Loss
 36      Total Other Comprehensive Income (Net of Tax)
 37          Total Comprehensive Income for the Period
 38                       Net Profit attributable to :
 39                           a) Owners of the Company
 40                        b) Non-Controlling Interest
 41       Other Comprehensive Income attributable to :
 42                           a) Owners of the Company
 43                        b) Non-Controlling Interest
 44       Total Comprehensive Income attributable to :
 45                           a) Owners of the Company
 46                        b) Non-Controlling Interest
 47   Earnings per equity share (Face Value of ` 10/-)
 48                                   (Not Annualised)
 49                                   (a) Basic (in `)

                                 Unnamed: 1  Unnamed: 2 Unnamed: 3  \
 0                              Particulars         NaN        NaN
 1                                      NaN         NaN  30 Sep’19
 2                                      NaN         NaN        NaN
 3                                      NaN         NaN    163,854
 4                                      NaN         NaN     11,705
 5                                      NaN         NaN    152,149
 6                                      NaN         NaN      3,614
 7                             Total Income         NaN    155,763
 8                                      NaN         NaN        NaN
 9                                      NaN         NaN     63,626
 10                                     NaN         NaN     35,735
 11                                     NaN         NaN        873
 12                                     NaN         NaN        NaN
 13                                     NaN         NaN      3,623
 14                                     NaN         NaN      3,147
 15                                     NaN         NaN      5,450
 16                                     NaN         NaN      5,315
 17                                     NaN         NaN     22,993
 18                          Total Expenses         NaN    140,762
 19                                     NaN         NaN     15,001
 20                                     NaN         NaN        NaN
 21                                     NaN         NaN         54
 22                                     NaN         NaN        NaN
 23                                     NaN         NaN     15,055
 24                                     NaN         NaN        NaN
 25                                     NaN         NaN      2,065
 26                                     NaN         NaN      1,638
 27                                     NaN         NaN     11,352
 28                                     NaN         NaN        NaN
 29                                     NaN         NaN       (37)
 30                                     NaN         NaN        NaN
 31  tax relating to items that will not be         NaN         24
 32                                     NaN         NaN        NaN
 33                                     NaN         NaN      (949)
 34      tax relating to items that will be         NaN        176
 35                                     NaN         NaN        NaN
 36                                     NaN         NaN      (786)
 37                                     NaN         NaN     10,566
 38                                     NaN         NaN        NaN
 39                                     NaN         NaN     11,262
 40                                     NaN         NaN         90
 41                                     NaN         NaN        NaN
 42                                     NaN         NaN      (787)
 43                                     NaN         NaN          1
 44                                     NaN         NaN        NaN
 45                                     NaN         NaN     10,475
 46                                     NaN         NaN         91
 47                                     NaN         NaN        NaN
 48                                     NaN         NaN        NaN
 49                                     NaN         NaN      18.59

      Year EndedQuarter Ended Half Year Ended  Unnamed: 4
 0                                        NaN   (Audited)
 1   30 June 19 30 Sep’18 30 Sep’19 30 Sep’18   31 Mar'19
 2                                        NaN         NaN
 3            172,956 156,291 336,810 297,990     622,809
 4                11,607 10,273 23,312 18,903      41,789
 5            161,349 146,018 313,498 279,087     581,020
 6                   3,146 1,250  6,760 3,028       8,635
 7            164,495 147,268 320,258 282,115     589,655
 8                                        NaN         NaN
 9              70,939 76,686 134,565 144,941     275,237
 10               43,659 29,369 79,394 55,925     123,930
 11          (4,642) (5,576) (3,769) (10,386)     (4,680)
 12                                       NaN         NaN
 13                   4,373 2,695 7,996 7,008      13,885
 14                   3,335 2,927 6,482 5,878      12,488
 15                  5,109 3,932 10,559 7,482      16,495
 16                 5,011 5,229 10,326 10,402      20,934
 17               22,370 18,809 45,363 33,952      76,242
 18           150,154 134,071 290,916 255,202     534,531
 19               14,341 13,197 29,342 26,913      55,124
 20                                       NaN         NaN
 21                                   25 1 79      11 103
 22                                       NaN         NaN
 23               14,366 13,198 29,421 26,924      55,227
 24                                       NaN         NaN
 25                   3,193 2,917 5,258 5,924      11,683
 26                     1,032 732 2,670 1,966       3,707
 27               10,141 9,549  21,493 19,034      39,837
 28                                       NaN         NaN
 29                   (508) (220) (545) (146)      77,470
 30                                       NaN         NaN
 31                                103 16 127  2 (16,705)
 32                                       NaN         NaN
 33                 339 (2,211) (610) (4,268)     (2,177)
 34                              (15) 322 161     728 177
 35                                       NaN         NaN
 36                (81) (2,093) (867) (3,684)      58,765
 37                10,060 7,456 20,626 15,350      98,602
 38                                       NaN         NaN
 39               10,104 9,516  21,366 18,975      39,588
 40                                37 33  127      59 249
 41                                       NaN         NaN
 42                (76) (2,092) (863) (3,684)      58,773
 43                              (5) (1)  (4)       - (8)
 44                                       NaN         NaN
 45                10,028 7,424 20,503 15,291      98,361
 46                                32 32  123      59 241
 47                                       NaN         NaN
 48                                       NaN         NaN
 49                  17.05 16.06  35.27 32.03       66.82  ,
                                          Particulars Unnamed: 0  \
 0                                                NaN  30 Sep’19
 1  (b)\rDiluted (in `)\rPaid up Equity Share Capi...      18.59
 2                                              6,339      6,339
 3                                                NaN        NaN
 4                                              9,459      9,459
 5                                            343,949    343,949
 6                                               2.38       1.97
 7                                               3.76       3.79
 8                                               0.72       0.72

                                        uarter Ended  \
 0                                        30 June 19
 1  17.05\r5,926\r\r9,426\r334,736\r1.66\r3.81\r0.73
 2                                             5,926
 3                                           381,186
 4                                             9,426
 5                                           324,644
 6                                              1.95
 7                                              4.35
 8                                              0.74

                                     Half Year Ended Year Ended\r(Audited)  \
 0                                         30 Sep’18             30 Sep’19
 1  16.06\r5,926\r\r5,279\r304,327\r1.38\r4.36\r0.85                 35.27
 2                                               NaN                   NaN
 3                                               NaN                   NaN
 4                                               NaN                   NaN
 5                                               NaN                   NaN
 6                                               NaN                   NaN
 7                                               NaN                   NaN
 8                                               NaN                   NaN

                                          Unnamed: 1 Unnamed: 2
 0                                         30 Sep’18  31 Mar'19
 1  32.02\r5,926\r\r5,279\r304,327\r1.66\r4.60\r0.85      66.80
 2                                               NaN        NaN
 3                                               NaN        NaN
 4                                               NaN        NaN
 5                                               NaN        NaN
 6                                               NaN        NaN
 7                                               NaN        NaN
 8                                               NaN        NaN  ,
    Sr.\rNo.                  Particulars Whether\rSecured /\rUnsecured  \
 0       NaN                          NaN                           NaN
 1       NaN  Reliance Industries Limited                           NaN
 2       1.0            PPD 180 Tranche 1                       Secured
 3       2.0                 PPD Series A                     Unsecured
 4       3.0                 PPD Series B                     Unsecured
 5       4.0                 PPD Series C                     Unsecured
 6       5.0                 PPD Series G                     Unsecured
 7       6.0                 PPD Series D                     Unsecured

    Unnamed: 0 Previous Due Date\r(1st April 2019 till\r30th September 2019)  \
 0         NaN                                          Principal
 1         NaN                                                NaN
 2         NaN                                                  -
 3         NaN                                                  -
 4         NaN                                                  -
 5         NaN                                                  -
 6         NaN                                                  -
 7         NaN                                                  -

   Next Due Date\r(1st October 2019 till\r31st March 2020) Unnamed: 1  \
 0                                           Interest       Principal
 1                                                NaN             NaN
 2                                       7th May 2019               -
 3                                      03rd Sep 2019               -
 4                                      03rd Sep 2019               -
 5                                      04th Sep 2019               -
 6                                                  -               -
 7                                                  -               -

       Unnamed: 2
 0       Interest
 1            NaN
 2              -
 3              -
 4              -
 5              -
 6  17th Oct 2019
 7  08th Nov 2019  ,
 Empty DataFrame
 Columns: [5]
 Index: [],
     Sr.\rNo.                    Particulars Whether\rSecured /\rUnsecured  \
 0        NaN                            NaN                           NaN
 1        7.0                   PPD Series H                     Unsecured
 2        8.0                   PPD Series E                     Unsecured
 3        9.0                  PPD Series IB                     Unsecured
 4       10.0                  PPD Series IA                     Unsecured
 5       11.0                   PPD Series F                     Unsecured
 6       12.0                   PPD Series J                     Unsecured
 7        NaN  Reliance Jio Infocomm Limited                           NaN
 8        1.0                           PPD1                     Unsecured
 9        2.0                           PPD2                     Unsecured
 10       3.0                           PPD3                     Unsecured
 11       4.0                           PPD4                     Unsecured
 12       5.0                PPD5 (Option 1)                     Unsecured
 13       6.0                PPD5 (Option 2)                     Unsecured
 14       7.0                           PPD8                       Secured
 15       NaN                            NaN                           NaN
 16       8.0                           PPD9                       Secured
 17       9.0                          PPD10                       Secured
 18      10.0                          PPD11                       Secured
 19      11.0                          PPD12                       Secured
 20      12.0                          PPD13                       Secured
 21      13.0                          PPD14                       Secured
 22      14.0                          PPD15                       Secured
 23      15.0                          PPD16                       Secured

    Previous Due Date\r(1st April 2019 till\r30th September 2019)  \
 0                                           Principal
 1                                                   -
 2                                                   -
 3                                                   -
 4                                                   -
 5                                                   -
 6                                                   -
 7                                                 NaN
 8                                                   -
 9                                                   -
 10                                                  -
 11                                                  -
 12                                                  -
 13                                                  -
 14                                                  -
 15                                                NaN
 16                                      26th Apr 2019
 17                                      31st May 2019
 18                                                  -
 19                                                  -
 20                                                  -
 21                                                  -
 22                                                  -
 23                                                  -

    Next Due Date\r(1st October 2019 till\r31st March 2020)     Unnamed: 0  \
 0                                            Interest           Principal
 1                                                   -                   -
 2                                                   -                   -
 3                                                   -                   -
 4                                                   -                   -
 5                                                   -                   -
 6                                                   -                   -
 7                                                 NaN                 NaN
 8                                       16th Sep 2019                   -
 9                                                   -                   -
 10                                     17th June 2019                   -
 11                                                  -       18th Nov 2019
 12                                                  -       21st Jan 2020
 13                                                  -                   -
 14                                      30th Apr 2019                   -
 15                                     30th July 2019       30th Jan 2020
 16                                      26th Apr 2019                   -
 17                                      31st May 2019                   -
 18                                     08th July 2019                   -
 19                                      09th Apr 2019                   -
 20                                      16th Apr 2019                   -
 21                                      24th Apr 2019                   -
 22                                     17th June 2019                   -
 23                                     18th July 2019                   -

        Unnamed: 1
 0        Interest
 1   11th Nov 2019
 2   14th Nov 2019
 3   11th Dec 2019
 4   11th Dec 2019
 5   24th Dec 2019
 6   09th Mar 2020
 7             NaN
 8               -
 9   04th Oct 2018
 10              -
 11  18th Nov 2019
 12  21st Jan 2020
 13  21st Jan 2020
 14  30th Oct 2019
 15            NaN
 16              -
 17              -
 18              -
 19              -
 20              -
 21              -
 22              -
 23              -  ,
 Empty DataFrame
 Columns: [6]
 Index: [],
                                           Particulars  \
 0   ASSETS\rNon-Current Assets\rProperty, Plant an...
 1                                                 NaN
 2                                             344,852
 3                                             138,705

In [29]:
tabula.convert_into("table.pdf","output.csv", output_format="csv", pages=4)

In [30]:
pdfData = read_pdf('table.pdf', pages=4, lattice=True)
pdfData

[                                          Particulars  \
 0                                                 NaN
 1   Income\rValue of Sales & Services (Revenue)\rL...
 2                                             163,854
 3                                              11,705
 4                                             152,149
 5                                               3,614
 6                                             155,763
 7                                                 NaN
 8                                              63,626
 9                                              35,735
 10                                                873
 11                                              3,623
 12                                              3,147
 13                                              5,450
 14                                              5,315
 15                                             22,993
 16                                            140,762
 17                                             15,001
 18                                                 54
 19                                             15,055
 20                                                NaN
 21                                              2,065
 22                                              1,638
 23                                             11,352
 24                                                NaN
 25                                               (37)
 26                                                 24
 27                                              (949)
 28                                                176
 29                                              (786)
 30                                             10,566
 31                                                NaN
 32                                             11,262
 33                                                 90
 34                                                NaN
 35                                              (787)
 36                                                  1
 37                                                NaN
 38                                             10,475
 39                                                 91
 40                                                NaN
 41                                              18.59

                                            Unnamed: 0  \
 0                                           30 Sep’19
 1                                                 NaN
 2                                             336,810
 3                                              23,312
 4                                             313,498
 5                                               6,760
 6                                             164,495
 7   70,939\r43,659\r(4,642)\r4,373\r3,335\r5,109\r...
 8                                             134,565
 9                                              79,394
 10                                            (3,769)
 11                                              7,996
 12                                              6,482
 13                                             10,559
 14                                             10,326
 15                                             45,363
 16                                            150,154
 17  14,341\r25\r14,366\r3,193\r1,032\r10,141\r(508...
 18                                                 79
 19                                             29,421
 20                                                NaN
 21                                              5,258
 22                                              2,670
 23                                             21,493
 24                                                NaN
 25                                              (545)
 26                                                127
 27                                              (610)
 28                                                161
 29                                               (81)
 30   10,060\r10,104\r37\r(76)\r(5)\r10,028\r32\r17.05
 31                                                NaN
 32                                             21,366
 33                                                127
 34                                                NaN
 35                                              (863)
 36                                                (4)
 37                                                NaN
 38                                             20,503
 39                                                123
 40                                                NaN
 41                                              35.27

                                          uarter Ended  \
 0                                          30 June 19
 1                     172,956\r11,607\r161,349\r3,146
 2                                             622,809
 3                                              41,789
 4                                             581,020
 5                                               8,635
 6                                             147,268
 7   76,686\r29,369\r(5,576)\r2,695\r2,927\r3,932\r...
 8                                             275,237
 9                                             123,930
 10                                            (4,680)
 11                                             13,885
 12                                             12,488
 13                                             16,495
 14                                             20,934
 15                                             76,242
 16                                            134,071
 17  13,197\r1\r13,198\r2,917\r732\r9,549\r(220)\r1...
 18                                                103
 19                                             55,227
 20                                                NaN
 21                                             11,683
 22                                              3,707
 23                                             39,837
 24                                                NaN
 25                                             77,470
 26                                           (16,705)
 27                                            (2,177)
 28                                                177
 29                                            (2,093)
 30   7,456\r9,516\r33\r(2,092)\r(1)\r7,424\r32\r16.06
 31                                                NaN
 32                                             39,588
 33                                                249
 34                                                NaN
 35                                             58,773
 36                                                (8)
 37                                                NaN
 38                                             98,361
 39                                                241
 40                                                NaN
 41                                              66.82

                     Half Year Ended  \
 0                         30 Sep’18
 1   156,291\r10,273\r146,018\r1,250
 2                               NaN
 3                               NaN
 4                               NaN
 5                               NaN
 6                           320,258
 7                               NaN
 8                               NaN
 9                               NaN
 10                              NaN
 11                              NaN
 12                              NaN
 13                              NaN
 14                              NaN
 15                              NaN
 16                          290,916
 17                           29,342
 18                              NaN
 19                              NaN
 20                              NaN
 21                              NaN
 22                              NaN
 23                              NaN
 24                              NaN
 25                              NaN
 26                              NaN
 27                              NaN
 28                              NaN
 29                            (867)
 30                           20,626
 31                              NaN
 32                              NaN
 33                              NaN
 34                              NaN
 35                              NaN
 36                              NaN
 37                              NaN
 38                              NaN
 39                              NaN
 40                              NaN
 41                              NaN

                                 Year Ended\r(Audited)  \
 0                                           30 Sep’19
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                             282,115
 7   144,941\r55,925\r(10,386)\r7,008\r5,878\r7,482...
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                            255,202
 17  26,913\r11\r26,924\r5,924\r1,966\r19,034\r(146...
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22                                                NaN
 23                                                NaN
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27                                                NaN
 28                                                NaN
 29                                            (3,684)
 30  15,350\r18,975\r59\r(3,684)\r-\r15,291\r59\r32.03
 31                                                NaN
 32                                                NaN
 33                                                NaN
 34                                                NaN
 35                                                NaN
 36                                                NaN
 37                                                NaN
 38                                                NaN
 39                                                NaN
 40                                                NaN
 41                                                NaN

                          Unnamed: 1 Unnamed: 2
 0                         30 Sep’18  31 Mar'19
 1   297,990\r18,903\r279,087\r3,028        NaN
 2                               NaN        NaN
 3                               NaN        NaN
 4                               NaN        NaN
 5                               NaN        NaN
 6                           589,655        NaN
 7                               NaN        NaN
 8                               NaN        NaN
 9                               NaN        NaN
 10                              NaN        NaN
 11                              NaN        NaN
 12                              NaN        NaN
 13                              NaN        NaN
 14                              NaN        NaN
 15                              NaN        NaN
 16                          534,531        NaN
 17                           55,124        NaN
 18                              NaN        NaN
 19                              NaN        NaN
 20                              NaN        NaN
 21                              NaN        NaN
 22                              NaN        NaN
 23                              NaN        NaN
 24                              NaN        NaN
 25                              NaN        NaN
 26                              NaN        NaN
 27                              NaN        NaN
 28                              NaN        NaN
 29                           58,765        NaN
 30                           98,602        NaN
 31                              NaN        NaN
 32                              NaN        NaN
 33                              NaN        NaN
 34                              NaN        NaN
 35                              NaN        NaN
 36                              NaN        NaN
 37                              NaN        NaN
 38                              NaN        NaN
 39                              NaN        NaN
 40                              NaN        NaN
 41                              NaN        NaN  ,
 Empty DataFrame
 Columns: [4]
 Index: []]

In [31]:
pdfData = read_pdf('table.pdf', pages=4, stream=True)
pdfData

[                                           Unnamed: 0  \
 0                                                 NaN
 1                                                 NaN
 2                                              Income
 3                 Value of Sales & Services (Revenue)
 4                                 Less: GST Recovered
 5                             Revenue from Operations
 6                                        Other Income
 7                                                 NaN
 8                                            Expenses
 9                          Cost of Materials Consumed
 10                        Purchases of Stock-in-Trade
 11  Changes in Inventories of Finished Goods,Work-in-
 12                        Progress and Stock-in-Trade
 13                                        Excise Duty
 14                          Employee Benefits Expense
 15                                      Finance Costs
 16  Depreciation / Amortisation and Depletion Expense
 17                                     Other Expenses
 18                                                NaN
 19  Profit Before Share of Profit/(Loss) of Associ...
 20                         and Joint Ventures and Tax
 21     Share of Profit/(Loss) of Associates and Joint
 22                                           Ventures
 23                                  Profit Before Tax
 24                                        Tax Expense
 25                                        Current Tax
 26                                       Deferred Tax
 27                              Profit for the Period
 28                   Other Comprehensive Income (OCI)
 29  i Items that will not be reclassified to Profi...
 30                                               Loss
 31                                          ii Income
 32                     reclassified to Profit or Loss
 33  iii Items that will be reclassified to Profit ...
 34                                          iv Income
 35                     reclassified to Profit or Loss
 36      Total Other Comprehensive Income (Net of Tax)
 37          Total Comprehensive Income for the Period
 38                       Net Profit attributable to :
 39                           a) Owners of the Company
 40                        b) Non-Controlling Interest
 41       Other Comprehensive Income attributable to :
 42                           a) Owners of the Company
 43                        b) Non-Controlling Interest
 44       Total Comprehensive Income attributable to :
 45                           a) Owners of the Company
 46                        b) Non-Controlling Interest
 47   Earnings per equity share (Face Value of ` 10/-)
 48                                   (Not Annualised)
 49                                   (a) Basic (in `)

                                 Unnamed: 1  Unnamed: 2 Unnamed: 3  \
 0                              Particulars         NaN        NaN
 1                                      NaN         NaN  30 Sep’19
 2                                      NaN         NaN        NaN
 3                                      NaN         NaN    163,854
 4                                      NaN         NaN     11,705
 5                                      NaN         NaN    152,149
 6                                      NaN         NaN      3,614
 7                             Total Income         NaN    155,763
 8                                      NaN         NaN        NaN
 9                                      NaN         NaN     63,626
 10                                     NaN         NaN     35,735
 11                                     NaN         NaN        873
 12                                     NaN         NaN        NaN
 13                                     NaN         NaN      3,623
 14                                     NaN         NaN      3,147
 15                                     NaN         NaN      5,450
 16                                     NaN         NaN      5,315
 17                                     NaN         NaN     22,993
 18                          Total Expenses         NaN    140,762
 19                                     NaN         NaN     15,001
 20                                     NaN         NaN        NaN
 21                                     NaN         NaN         54
 22                                     NaN         NaN        NaN
 23                                     NaN         NaN     15,055
 24                                     NaN         NaN        NaN
 25                                     NaN         NaN      2,065
 26                                     NaN         NaN      1,638
 27                                     NaN         NaN     11,352
 28                                     NaN         NaN        NaN
 29                                     NaN         NaN       (37)
 30                                     NaN         NaN        NaN
 31  tax relating to items that will not be         NaN         24
 32                                     NaN         NaN        NaN
 33                                     NaN         NaN      (949)
 34      tax relating to items that will be         NaN        176
 35                                     NaN         NaN        NaN
 36                                     NaN         NaN      (786)
 37                                     NaN         NaN     10,566
 38                                     NaN         NaN        NaN
 39                                     NaN         NaN     11,262
 40                                     NaN         NaN         90
 41                                     NaN         NaN        NaN
 42                                     NaN         NaN      (787)
 43                                     NaN         NaN          1
 44                                     NaN         NaN        NaN
 45                                     NaN         NaN     10,475
 46                                     NaN         NaN         91
 47                                     NaN         NaN        NaN
 48                                     NaN         NaN        NaN
 49                                     NaN         NaN      18.59

      Year EndedQuarter Ended Half Year Ended  Unnamed: 4
 0                                        NaN   (Audited)
 1   30 June 19 30 Sep’18 30 Sep’19 30 Sep’18   31 Mar'19
 2                                        NaN         NaN
 3            172,956 156,291 336,810 297,990     622,809
 4                11,607 10,273 23,312 18,903      41,789
 5            161,349 146,018 313,498 279,087     581,020
 6                   3,146 1,250  6,760 3,028       8,635
 7            164,495 147,268 320,258 282,115     589,655
 8                                        NaN         NaN
 9              70,939 76,686 134,565 144,941     275,237
 10               43,659 29,369 79,394 55,925     123,930
 11          (4,642) (5,576) (3,769) (10,386)     (4,680)
 12                                       NaN         NaN
 13                   4,373 2,695 7,996 7,008      13,885
 14                   3,335 2,927 6,482 5,878      12,488
 15                  5,109 3,932 10,559 7,482      16,495
 16                 5,011 5,229 10,326 10,402      20,934
 17               22,370 18,809 45,363 33,952      76,242
 18           150,154 134,071 290,916 255,202     534,531
 19               14,341 13,197 29,342 26,913      55,124
 20                                       NaN         NaN
 21                                   25 1 79      11 103
 22                                       NaN         NaN
 23               14,366 13,198 29,421 26,924      55,227
 24                                       NaN         NaN
 25                   3,193 2,917 5,258 5,924      11,683
 26                     1,032 732 2,670 1,966       3,707
 27               10,141 9,549  21,493 19,034      39,837
 28                                       NaN         NaN
 29                   (508) (220) (545) (146)      77,470
 30                                       NaN         NaN
 31                                103 16 127  2 (16,705)
 32                                       NaN         NaN
 33                 339 (2,211) (610) (4,268)     (2,177)
 34                              (15) 322 161     728 177
 35                                       NaN         NaN
 36                (81) (2,093) (867) (3,684)      58,765
 37                10,060 7,456 20,626 15,350      98,602
 38                                       NaN         NaN
 39               10,104 9,516  21,366 18,975      39,588
 40                                37 33  127      59 249
 41                                       NaN         NaN
 42                (76) (2,092) (863) (3,684)      58,773
 43                              (5) (1)  (4)       - (8)
 44                                       NaN         NaN
 45                10,028 7,424 20,503 15,291      98,361
 46                                32 32  123      59 241
 47                                       NaN         NaN
 48                                       NaN         NaN
 49                  17.05 16.06  35.27 32.03       66.82  ]

In [11]:
pdfData = read_pdf('table.pdf', pages=4, stream=True)
print(tabulate.tabulate(pdfData))

----------  ----------  ----------  ----------  ---------------------------------------  ----------
Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Year EndedQuarter Ended Half Year Ended  Unnamed: 4
----------  ----------  ----------  ----------  ---------------------------------------  ----------

In [3]:
tableData = camelot.read_pdf('table.pdf', multiple_tables='True', process_background='True', pages='4,5')
tableData

RuntimeError: Please make sure that Ghostscript is installed